<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Version 0.0.1, Copyright 2022, Yuxuan (MIT)</string>
	<key>CFBundleIdentifier</key>
	<string>com.Yuxuan.driver.usb.AMDUSBXHCIPCI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMD-Radeon-6000</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBXHCISPT 6800</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
			<key>IOClass</key>
			<string>AppleUSBXHCISPT</string>
			<key>IOPCIPauseCompatible</key>
			<true/>
			<key>IOPCIPrimaryMatch</key>
			<string>0x73a41002 0x73a61002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPCIUseDeviceMapper</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>900</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AppleUSBXHCISPT 6900</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
			<key>IOClass</key>
			<string>AppleUSBXHCISPT</string>
			<key>IOPCIPauseCompatible</key>
			<true/>
			<key>IOPCIPrimaryMatch</key>
			<string>0x73a41002 0x73a61002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPCIUseDeviceMapper</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>900</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
